<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<%- include lib/apicalh01 %>
<% var pagename="Lead details and history" %>
<!--   <link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet"> -->
<script>
    function startTour() {
        var tour = introJs()
        tour.setOption('tooltipPosition', 'auto');
        tour.setOption('positionPrecedence', ['left', 'right', 'bottom', 'top'])
        tour.start()
    }

</script>
<script type="text/javascript">
    var History=[];
    
</script>
<style>
    p {
        margin: 0 0 5px 0;
    }
    
    .form-group {
        margin-bottom: 0;
    }
    
    .vertical-menu {
        width: 250px;
        height: 300px;
        overflow-y: auto;
    }
    
    .vertical-menu a {
        background-color: #eee;
        color: black;
        display: block;
        padding: 12px;
        text-decoration: none;
    }
    
    .vertical-menu a:hover {
        background-color: #ccc;
    }
    
    .vertical-menu a.active {
        background-color: #4CAF50;
        color: white;
    }
    
    .card {
        /*border: 0.1px solid #a1a1a1;*/
        padding: 10px 10px;
        background: #FDFEFE;
        width: 90%;
        border-radius: 3px;
        margin: 0 0 5px 0;
    }
    
    .card1 {
        border: 1px solid #a1a1a1;
        padding: 10px 10px;
        /* background: #dddddd;*/
        width: 90%;
        border-radius: 3px;
    }
    
    input[type=text] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    
    input[type=text]:focus {
        width: 100%;
    }
    
    * {
        box-sizing: border-box;
    }
    
    #myInput {
        background-image: url('searchblack.png');
        /*                background-position: 10px 12px;*/
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 8px 20px 8px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }
    
    #myUL {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    #myUL li a {
        border: 1px solid #ddd;
        margin-top: -1px;
        /* Prevent double borders */
        background-color: #f6f6f6;
        padding: 12px;
        text-decoration: none;
        font-size: 12px;
        color: black;
        display: block
    }
    
    #myUL li a.header {
        background-color: #e2e2e2;
        cursor: default;
    }
    
    #myUL li a:hover:not(.header) {
        background-color: #eee;
    }
    
    nav ul {
        height: 450px;
    }
    
    nav ul {
        overflow: hidden;
        overflow-y: scroll;
    }
</style>

<body>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->

    <!-- begin #page-container -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
        <%- include lib/apicalh02 %>
        <!-- begin #sidebar -->
        <div id="sidebar" class="sidebar">
            <!-- begin sidebar scrollbar -->
            <div data-scrollbar="true" data-height="100%">
                <!-- begin sidebar user -->
                <ul class="nav">
                    <li class="nav-profile">
                        <div class="image">
                            <a href="javascript:;"><img src="assets/img/user.png" alt="" /></a>
                        </div>
                        <div class="info">
                          <%=user.enname  %>
                      </div>
                  </li>
              </ul>
              <!-- end sidebar user -->
              <%- include lib/apicalm01 %>
          </div>
          <!-- end sidebar scrollbar -->
      </div>
      <!-- end #sidebar -->

      <!-- begin #content -->
      <div id="content" class="content">

        <!-- end breadcrumb -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                </div>
                <h4 class="panel-title">Lead details and history</h4>

            </div>
            <div class="panel-body" style="background-color: #ededed">

                <div class="row">
                    <div class="col-md-5">
                        <table class="table table-profile">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>
                                                <h4><%=f.leadname %></h4>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr class="highlight">
                                            <td>Created On: </td>
                                            <td><%=f.date_gen %></td>
                                        </tr>
                                        <tr>
                                            <td class="field">Email</td>
                                            <td><%=f.email %></td>
                                        </tr>

					  <tr>
                                            <td class="field">Contact number</td>
                                            <td><i class="fa fa-mobile fa-lg m-r-5"></i>
                                            <%=f.mobileno %></td>
                                        </tr>

                                        <tr>
                                            <td class="field">Address</td>
                                            <td><%=f.address %></td>
                                        </tr>
                                        <tr class="divider">
                                            <td colspan="2"></td>
                                        </tr>
                                       
                                        <tr>
                                            <td class="field">Source</td>
                                            <td><%=f.source %></td>
                                        </tr>
                                        
                                      
                                        <tr>
                                            <td class="field">Assigned To</td>
                                            <td><%=f.assignto %></td>
                                        </tr>
                                       
                                         <tr>
                                            <td class="field">product</td>
                                            <td><%=f.products %></td>
                                        </tr>
                                        <tr>
                                            <td class="field">Type</td>
                                            <td><%=f.leadtype %></td>
                                        </tr>
                                        <tr class="divider">
                                            <td colspan="2"></td>
                                        </tr>
                                         <tr>
                                            <td class="field">Reference name</td>
                                            <td><%=f.refname %></td>
                                        </tr>
                                         <tr>
                                            <td class="field">Reference number</td>
                                            <td><%=f.refnumber %></td>
                                        </tr>
                                    </tbody>
                                </table>
                    </div>

                    <div class="col-md-7" id="card1">
                    <% if(user.syno != '1'){%> <button type="button" class="btn btn-success btn-sm" onclick="onUpdate(this);" id="<%= f.leadid %>" style="float: right;">Update</button> <%}%>
                        <h4 style="text-align: center;">Lead History</h4>
                        <!--   <div  class="content" id="content"> -->
                       <% if( f.history.length >0 ){ %>
			   <div    style="max-height: 400px; overflow: auto;">
                        <ul id="hist_list" class="timeline">
                            <%
                            f.history.forEach (function(srvreq){
                            %>
                            <li>
                                <!-- begin timeline-time -->
                                <div class="timeline-time">
                               <span class="date"><small><%=new Date(srvreq.date_gen).toISOString().slice(0,10).replace('T',' ').toString(); %></small></span>
                                </div>
                                <!-- end timeline-time -->
                                <!-- begin timeline-icon -->
                                <div class="timeline-icon">
                                    <a href="javascript:;"><i class="fa fa-paper-plane"></i></a>
                                </div>
                                <!-- end timeline-icon -->
                                <!-- begin timeline-body -->
                                <div class="timeline-body">
                                    <div class="timeline-header"><!-- 
                                        <span class="userimage"><img src="assets/img/user.png" alt="" /></span> -->
                                       <strong> Met by : </strong><span class="username"><%=srvreq.metby %><small></small></span>
                                        <!--  <span class="pull-right text-muted">18 Views</span> -->
                                    </div>
                                    <div class="timeline-content">

                                        <p><strong>Status:</strong>
                                            <%=srvreq.leadstatus %>
                                        </p>
                                        <p><strong>Communication Comment:</strong>
                                            <%=srvreq.remarks %>
                                        </p>
                                        <p><strong>Mail:</strong>
                                            <%=srvreq.email %>
                                        </p>
                                        <p><strong>Stage:</strong>
                                            <%=srvreq.stage %>
                                        </p>
                                          <p><strong>Next meet:</strong>
                                            <%=srvreq.nmd %>
                                        </p>
                                     
                                    </div>

                                </div>
                                <!-- end timeline-body -->
                            </li>
                            <%   }); %>
                                 <li>
                    <!-- begin timeline-icon -->
                    <div class="timeline-icon">
                        <a href="javascript:;"><i class="fa fa-stop"></i></a>
                    </div>
                    <!-- end timeline-icon -->
                    <!-- begin timeline-body -->
                 <!--    <div class="timeline-body">
                 </div> -->
                    <!-- begin timeline-body -->
                </li>
                        </ul>
			</div>
                        <% }%>
                        <!-- end timeline -->
                        <!--  </div> -->

                    </div>

                </div>
            </div>
        </div>
    </div>
                    <!--  <p class="text-center">
                            &copy; Apical Innovations All Right Reserved 2017
                        </p> -->
                        <!-- end #content -->
                        <!-- begin scroll to top btn -->
                        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
                        <!-- end scroll to top btn -->
                    </div>
                    <!-- end page container -->
                    <!-- ================== BEGIN BASE JS ================== -->
                    <%- include lib/apicalf02.ejs %>
                    <!-- ================== END BASE JS ================== -->

                    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
                    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
                    <script src="assets/js/timeline.demo.min.js"></script>
                    <script src="assets/js/apps.min.js"></script>
                    <!-- ================== END PAGE LEVEL JS ================== -->
                    <script type="text/javascript" src="assets/js/intro.js"></script>

                    <script>
                        $(document).ready(function() {
                            App.init();
                    });
                </script>
                <script>
                    function onUpdate(btn) {
                    var txnid = $(btn).attr("id");
                 //   console.log("update button clicked ", txnid);
                     //   alert("update button clicked " + txnid);
                     $.ajax({
                        type: "POST",
                        url: "/addldid",
                        timeout: 4000,
                        contentType: 'application/json',
                        data: JSON.stringify({
                            lid: txnid
                        }),
                        success: function(data) {
                            var fdata = JSON.parse(JSON.stringify(data));
                            console.log("update resp", fdata);
                            window.location = "/updatesch";
                        }
                    });
                 };
                </script>
         </body>

         </html>
