<!DOCTYPE html>
<html lang="en">
<%- include lib/apicalh01 %>
<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="assets/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css" rel="stylesheet" />
<link href="assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link href="assets/plugins/DataTables/extensions/Scroller/css/scroller.bootstrap.min.css" rel="stylesheet" />
<!-- ================== END PAGE LEVEL STYLE ================== -->
<script>
    function startTour() {
        var tour = introJs()
        tour.setOption('tooltipPosition', 'auto');
        tour.setOption('positionPrecedence', ['left', 'right', 'bottom', 'top'])
        tour.start()
    }
</script>

<script type="text/javascript">
    var Screenfields=[];
</script>

<style type="text/css" media="screen">
    input,
    textarea,
    select {
        margin: 0 0 10px 0;
    }
</style>
</head>
<body>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->

    <!-- begin #page-container -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
        <%- include lib/apicalh02 %>
        <!-- begin #sidebar -->
        <div id="sidebar" class="sidebar">
            <!-- begin sidebar scrollbar -->
            <div data-scrollbar="true" data-height="100%">
                <!-- begin sidebar user -->
                <ul class="nav">
                    <li class="nav-profile">
                        <div class="image">
                            <a href="javascript:;"><img src="assets/img/user.png" alt="" /></a>
                        </div>
                        <div class="info">
                         <%=user.enname  %>
                     </div>
                 </li>
             </ul>
             <!-- end sidebar user -->
             <%- include lib/apicalm01 %>
         </div>
         <!-- end sidebar scrollbar -->
     </div>
     <!-- end #sidebar -->

     <!-- begin #content -->
     <div id="content" class="content">
        <!-- begin breadcrumb -->
        
        <!-- end breadcrumb -->
        <!-- begin row -->
        <div class="row">
            <!-- begin col-12 -->
            <div class="col-md-12">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                          <a href="javascript:print();" class="btn btn-xl btn-icon btn-circle btn-success" id="print"><i class="fa fa-print" ></i></a>
                          <a href="javascript:reset();" class="btn btn-xl btn-icon btn-circle btn-success"><i class="fa fa-refresh" ></i></a>
                          <a href="javascript:approve();" class="btn btn-xl btn-icon btn-circle btn-success"><i class="fa fa-remove" ></i></a>
                      </div>
                      <h4 class="panel-title">Task status</h4>
                  </div>
                  <div class="panel-body">
                    <form action="#" method="POST">
                        <div id="wizard">
                            <ol>
                                <li  data-step="2" data-intro="This is My Task tab, onclick this tab my task page will show!">
                                    My Tasks

                                </li>
                                <li  data-step="3" data-intro="This is Assign by me tab onclick this tab Assign page show!">
                                    Assigned by Me

                                </li>
                            </ol>
                            <!-- begin wizard step-1 -->
                            <div>
                                <!-- begin row -->
                                <div class="row">
                                    <!-- begin col-4 -->
                                    <div class="panel-body">
                                        <table id="data-table1" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Task Name</th>
                                                    <th>Task description</th>
                                                    <th>Task date</th>
                                                    <th>Task status</th>
                                                    <th>Assign to</th>
                                                    <th>Due date</th>
                                                    <th>Pending since</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                             
                                            </tbody>
                                        </table>
                                     <% if(user.syno != '1'){%>   <a href="#modal-dialog" data-toggle="modal" class="btn btn-success btn-icon btn-circle  data-step="4" data-intro="This is Floating action button onclick this button task page will open in popup!"" id="btnShow"  style="float: right;width: 40Px;height: 40px;"><i class="fa fa-plus fa-1x" style="margin-top: 12px;" ></i></a> <%}%>
                                    </div>
                                    <!-- end col-4 -->
                                </div>
                                <!-- end row -->
                            </div>
                            <!-- end wizard step-1 -->
                            <!-- begin wizard step-2 -->
                            <div>
                                <div class="row">
                                    <!-- begin row -->
                                    <table id="data-table2" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Task Name</th>
                                                <th>Task description</th>
                                                <th>Task date</th>
                                                <th>Task status</th>
                                                <th>Assign to</th>
                                                <th>Due date</th>
                                                <th>Pending since</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                         
                                        </tbody>
                                    </table>
                                    <a href="#modal-dialog" data-toggle="modal" class="btn btn-success btn-icon btn-circle" id="btnShow1" style="float: right;width: 40Px;height: 40px;margin-right: 40px;"><i class="fa fa-plus fa-1x" style="margin-top: 12px;" ></i></a>
                                </div>
                            </div>
                            <!-- end wizard step-2 -->
                        </div>
                    </form>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->
<div class="modal fade" id="modal-dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Tasks</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form action="/" method="POST" id="formf" data-parsley-validate="true">
                        <%- include lib/dy/apicaldyf01.ejs %>
                    </form>
                </div>    
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                <a href="javascript:onValidate();" class="btn btn-sm btn-success">Save</a>
            </div>
        </div>
    </div>
</div>
      <!--   <p class="text-center">
                            &copy; Apical Innovations All Right Reserved 2017
                        </p> -->
                        <!-- begin scroll to top btn -->
                       
                        <!-- end scroll to top btn -->
                    </div>
                     <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
                    <!-- end page container -->
                    <!-- ================== BEGIN BASE JS ================== -->
                    <%- include lib/apicalf02.ejs %>    
                    <!-- ================== END BASE JS ================== -->
                    <script src="assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
                    <script src="assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
                    <script src="assets/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
                    <script src="assets/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
                    <script src="assets/plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js"></script>
                    <script src="assets/plugins/DataTables/extensions/Buttons/js/jszip.min.js"></script>
                    <script src="assets/plugins/DataTables/extensions/Buttons/js/pdfmake.min.js"></script>
                    <script src="assets/plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js"></script>
                    <script src="assets/plugins/DataTables/extensions/Scroller/js/dataTables.scroller.min.js"></script>
                    <script src="assets/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js"></script>
                    <script src="assets/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js"></script>
                    <script src="assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
                    <script src="assets/js/apical/table-manage-scroller.demo.js"></script>
                    <!-- <script src="assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
                     -->
                    <!-- ================== END BASE JS ================== -->

                    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
                    <script src="assets/plugins/bootstrap-wizard/js/bwizard.js"></script>
                    <script src="assets/js/form-wizards.demo.min.js"></script>
                    <script src="assets/js/apps.min.js"></script>
                    <script src="assets/plugins/parsley/dist/parsley.js"></script>
                    <!-- ================== END PAGE LEVEL JS ================== -->
                    <script type="text/javascript" src="assets/js/intro.js"></script>

                    <script>
                        $(document).ready(function() {
                            App.init();
                            FormWizard.init();     
                          $(".datepicker").datepicker({ dateFormat: 'dd/mm/yy' });

                            $('select').each(
                                function(index){  
                                    var input = $(this);
                                    var api=input.attr('api');
                                    /*alert('Api: ' + input.attr('api'));*/
                                    $.ajax({
                                        type: "GET",
                                        url: ""+api,
                                        timeout: 2000,
                                        contentType: 'application/json',
                                        success: function(data)
                                        {
                                            helpers.buildDropdown(
                                              JSON.parse(JSON.stringify(data)),
                                              input,
                                              'Select an option'
                                              );
                                        }
                                    });
                                });
                        });

                        $(window).load(function(e) {
                            TableManageScroller3.init(<%- scrndtl.col2 %>);
                        });
                    </script>

                    <script>



                       function reset() {
                        document.getElementById("formf").reset();
                        $('#data-table1').DataTable().ajax.reload();
                        $('#data-table2').DataTable().ajax.reload();
                    };

                    function onValidate() {
                     //   alert("funcntion called");
                     
                     var form = $('#formf');
                     form.parsley().validate();
                     if (form.parsley().isValid()) {
                        //    alert('valid');
                        var formdata = $('#formf').serializeArray();
                            //structure json
                            var data = formdata.reduce(function(a, x) {
                                a[x.name] = x.value;
                                return a;
                            }, {});
                            Screenfields.push(data);
//                            alert("screenfields",JSON.stringify(Screenfields));
$.ajax({
    type: "POST",
    url: "/savedata",
    timeout: 2000,
    contentType: 'application/json',
    data: JSON.stringify({
        scrid: "579",
        formdata: JSON.stringify(Screenfields)
    }),
    success: function(data) {
        var fdata = JSON.parse(JSON.stringify(data));
        if (fdata.status == '1') {
            Screenfields = [];
            alert("Data saved successfully");
            $('#formf').trigger("reset");
            $('#modal-dialog').modal('hide');
        } else {
         alert(fdata.err_msg);
         Screenfields = [];
     }
 }
});
} else {
    alert('Form not valid');
}
};

</script>


<script>
    $('#modal-dialog').on('show.bs.modal', function(e) {

    });
</script>
</body>

</html>